/* ======================
Page Reset
========================*/

* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 2.5rem;
	font-family: 'Muli', sans-serif;
	margin: 0;
}

/* ======================
Header
========================*/

nav {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #0784c3;
	color: white;
	font-size: 2.5rem;
	padding: 2px;
	right: 0;
	z-index: 10;
	display: flex;
	flex-direction: column;
	align-items: center;
}

nav p {
	margin-top: 0;
	font-size: 80%;
}

nav p {
	letter-spacing: 1.75px;
	margin: 0;
}

h1 {
	margin: 0;
}

/* ======================
Bio Zone
========================*/

#nameZone {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	padding: 5px 0 5px 0;
}

p {
	font-size: 2rem;
}

/* ======================
Project Zone
========================*/

section {
	width: 100%;
	min-height: 20rem;
	padding: 2%;
}

#headshot {
	border-radius: 50%;
	border: 2px solid #4e4e50;
	height: auto;
	width: 30rem;
}

.projImg {
	height: 30rem;
	border: 2px solid black;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	transition: box-shadow 0.5s ease-in-out;
}

.projImg:hover {
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

img:hover {
	transform: scale(1.1);
	transition: transform 0.5s ease-in-out;
}

.indProject {
	text-align: center;
}

a {
	text-decoration: none;
	color: inherit;
}

h2 {
	font-size: 3rem;
}

.white {
	margin: 0 auto;
	margin-top: 80px;
	width: 85%;
	background-color: white;
	color: black;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

#photos {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.white p {
	padding: 30px;
	text-align: left;
	line-height: 150%;
}

.emphasise {
	color: #0784c3;
	font-weight: bold;
}

.icon {
	border: 0;
	height: 7.5rem;
	width: auto;
	padding: 15px;
}

#projectWrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	grid-gap: 25px;
}

/* ======================
Mobile Size
========================*/

@media screen and (max-width: 500px) {
	#projectWrapper {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	}
	.projImg {
		height: 20rem;
	}
	.white p {
		padding: 5px;
		text-align: justify;
		line-height: 150%;
	}
}
