/* ======================
Page Reset
========================*/

* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {	
	font-family: 'Muli', sans-serif;
	font-size: 2.5rem;
	margin: 0;
}

/* ======================
Header
========================*/

nav {
	align-items: center;
	background-color: #0784c3;
	color: white;
	display: flex;
	flex-direction: column;
	font-size: 2.5rem;
	left: 0;
	padding: 2px;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 10;	
}

nav p {
	font-size: 80%;
	letter-spacing: 1.75px;
	margin: 0;
}

h1 {
	margin: 0;
}

/* ======================
Bio Zone
========================*/

#nameZone {
	padding: 5px 0 5px 0;
}

#nameZone a {
	align-items: center;
	color: inherit;
	display: flex;
	flex-direction: column;
	justify-items: center;
	text-decoration: none;
}

p {
	font-size: 2rem;
}

/* ======================
Project Zone
========================*/

h2 {
	font-size: 3rem;
}

section {
	min-height: 20rem;
	padding: 2%;
	width: 100%;
}

#headshot {
	border: 2px solid #4e4e50;
	border-radius: 50%;
	height: auto;
	width: 30rem;
}

#headshot:hover {
	transform: scale(1.1);
	transition: transform 0.5s ease-in-out;
}

#photos {
	align-items: center;
	display: flex;
	flex-direction: column;	
	justify-content: center;
}

#projectWrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	grid-gap: 25px;
}

.emphasise {
	color: #0784c3;
	font-weight: bold;
}

.icon {
	border: 0;
	height: 7.5rem;
	padding: 15px;
	width: auto;	
}

.icon:hover {
	transform: rotate(-20deg);
	transition: 0.5s ease;
}

.indProject {
	text-align: center;
}

.projImg {
	backface-visibility: hidden;
	border: 2px solid black;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	height: 30rem;
	opacity: 1;
	padding: 10px;
	transition: 0.5s ease;	
}

.project-image:hover .projImg {
	opacity: 0.3;
}

.project-image {
	position: relative;
}

.project-image:hover .project-link {
	opacity: 1;
}

.project-link {
	left: 50%;
	opacity: 0;
	position: absolute;	
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transition: .5s ease;
}

.project-link a {
	color: inherit;
	text-decoration: none;	
}

.project-link-text {
	background-color: #0784c3;
	color: white;
	font-size: 16px;
	padding: 16px 32px;
}

.projectPage {
	margin: 0 auto;
	margin-top: 80px;
	text-align: center;
	width: 85%;
}

.projectPage p {
	margin: 0;
	margin-top: 5px;
}

.project-text {
	text-align: left;
}

.white {
	background-color: white;
	color: black;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	margin: 0 auto;
	margin-top: 80px;
	width: 85%;	
}

.white p {
	line-height: 150%;
	padding: 30px;
	text-align: left;	
}


/* ======================
Project Page Gallery
========================*/

.gallery {	
	display: grid;
	grid-gap: 15px;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(5, 5vw);	
	margin-top: 30px;
}

.gallery__img {
	border: 1px solid black;	
	height: 100%;	
	object-fit: cover;
	width: 100%;
}

.gallery__item {
	display: block;
	margin-block-start: 0em;
	margin-block-end: 0em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

.gallery__item--3 {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 4;
	grid-row-end: 6;
}

.gallery__item--4 {
	grid-column-start: 3;
	grid-column-end: 5;
	grid-row-start: 4;
	grid-row-end: 6;
}

.gallery__item--1 {
	grid-column-start: 5;
	grid-column-end: 9;
	grid-row-start: 1;
	grid-row-end: 6;
}
.gallery__item--2 {
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 4;
}
/* ======================
Mobile Size
========================*/

@media screen and (max-width: 500px) {
	#projectWrapper {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	}

	.gallery {
		display: flex;
		flex-direction: column;
		margin-top: 30px;
	}

	.projImg {
		height: 20rem;
	}

	.projImg-lg {
		border: 2px solid black;
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
		margin: 20px auto;
		padding: 1%;
		width: 80%;
	}

	.white p {
		line-height: 150%;
		padding: 5px;
		text-align: justify;		
	}
}
